<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Loops and Conditionals</title>
  </head>
  <body>
  
    <header>
    <!-- <div class="title"><img class="logo" src="/static/assets/logo.svg" /> Microblog</div> -->
    <div class="menu">
        <a class="menu-item" href="http://127.0.0.1:5000/">home</a>
        <a class="menu-item" href="http://127.0.0.1:5000/expressions/">expressions</a>
        <a class="menu-item" href="http://127.0.0.1:5000/data_structures/">data structures</a>
        <a class="menu-item" href="http://127.0.0.1:5000/conditionals-basics/">conditionals</a>
        <a class="menu-item" href="http://127.0.0.1:5000/for-loop/">looping</a>
        <a class="menu-item" href="http://127.0.0.1:5000/for-loop/conditionals/">looping conditionals</a>
        </div>
    </header>

    <div class="content">
      <h1>Loops in Jinja2</h1>
      <h2>For loop & conditional statements</h2>
      {% for user, os in user_os.items() %}
        {% if os == "Windows" %}
          <p>💻 {{ user }} is a Windows user.</p>
        {% elif os == "MacOs" %}
          <p>{{ user }} is a MacOS user.</p>
        {% elif os == "Linux" %}
          <p>{{ user }} is a Linux user.</p>
        {% elif os == "Kali" %}
        <p>{{ user }} is a Kali Linux user.</p>
          {% endif %}
      {% endfor %}
    </div>
  </body>
</html>